# Add any directories, files, or patterns you don't want to be tracked by version control
.idea
/node_modules
UIAdaptation_index.html
changes_preview.js
sap-ui-cachebuster-info.json
extended_runnable_file.html
.*/extended_runnable_file.html
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
fioriHtmlRunner.html
.*/fioriHtmlRunner.html
visual_ext_index.html
/webapp/visual_ext_index.html
preview.json
cp.project.properties.json
/.user.project.json
/resources
/dist/
AppVariant_index.html
AppVariantPreviewPayload.zip
mergedManifestDescriptor.json
APIExternalProducer.js
.*/APIExternalProducer.js
/mta_archives/