.ui-draggable-dragging{
    //width: 320px;
    background-color: white !important;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ui-draggable-dragging-item{
    padding: 10px;
    border: 2px solid #427cac;
}

.treeTableHeader{
    display: none;
}

.tableContentPage .sapFDynamicPageContent,
.tableContentPage .sapFDynamicPageContentFitContainer{
    padding-left: 0;
    padding-right: 0;
}