.customSwitchTextFont .sapMSwtLabel {
    font-size: .55rem !important;
}

.TreeTitleBG {
    border-radius: 3px;
    padding: 3px;
}

.panelPage {
    white-space: normal;
}

.ui-draggable-dragging {
    background-color: #eff4f9 !important;
    list-style: none;
    opacity: .7;
    margin: 0;
    padding: 0;
}

.ui-draggable-dragging-item {
    padding: .2rem;
    border: 1px solid #418ac7;
    font-size: .9rem;
}

.treeTableFilterBar .sapUiCompFilterBarBasicArea>div:first-of-type {
    width: 100% !important;
}

.treeTableHeader {
    display: none;
}

.listTreeTable .sapUiCompSmartTableToolbar {
    display: none;
}

.listTreeTable .sapMTB {
    height: 0;
}

.listTreeTable .sapUiTableTr>td {
    border-right-width: 0px;
}

.listTreeTable .sapMPI {
    min-width: 100%;
    width: 100%;
}

.treeTableDialog .sapMDialogScroll {
    height: 100%;
}

.tableContentPage .sapFDynamicPageContent,
.tableContentPage .sapFDynamicPageContentFitContainer {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.iconTabBarCustom .sapFDynamicPageHeader {
    padding: 0 !important;
}

.iconTabBarCustom .sapMITBContainerContent {
    display: none;
}

.sapUiTheme-sap_belize .tableContentPage .sapMPageHeader {
    box-shadow: inset 0 -0.0625rem #d1e0ee !important;
}

.sapUiTheme-sap_belize_plus .tableContentPage .sapMPageHeader {
    box-shadow: inset 0 -0.0625rem #4f667a !important;
}

.assignInfoDialog .sapUiFormTitle {
    display: none;
}

div.worktimeAvailability {
    box-sizing: border-box;
    padding: 0 0.45rem;
    text-align: center;
    border-radius: 1.125rem;
    height: 1.25rem;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    margin-right: 4px;
}

div.worktimeAvailability>.workTimeAvailabilityText {
    font-size: 0.75rem;
    vertical-align: top;
    line-height: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.0125rem;
    text-transform: uppercase;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    /*color: #ffffff;*/
}

.workTimeWithBorder {
    border: #ccc 1px solid
}

.workTimeWithoutBorder {
    border: #ccc 1px solid
}

.workTimeTextWhite {
    color: #ffffff;
}

.workTimeTextBlack {
    color: #000000;
}

/* Gantt custom Css */

.sapGanttChartSelection .sapGanttSelectedPath {
    stroke-width: 0 !important;
    stroke: transparent !important;
}

div.resourceGanttWithTable .sapGanttBackground .sapGanttBackgroundSVG {
    /*background: #f2f2f2 !important;*/
}

.sapUiIcon.resourceIcon:hover {
    color: hsl(240, 100%, 50%);
    cursor: pointer;
}

.smartFormTemplate .sapMInputBase.sapMTextArea {
    min-width: 100%;

}

.smartFormTemplate .sapMInputBase.sapMTextArea .sapMInputBaseContentWrapper {
    min-height: 5rem;
}

.smartFormTemplate .sapUiRespGridSpanL12.sapUiRespGridSpanM12.sapUiRespGridSpanS12.sapUiRespGridSpanXL12 .sapUiFormElementLbl {
    float: none;
    display: none;
}

.smartFormTemplate .sapUiRespGridSpanL12.sapUiRespGridSpanM12.sapUiRespGridSpanS12.sapUiRespGridSpanXL12 div[class*="sapUiRespGridSpan"] {
    float: none;
    width: 100%;
}