.panelPage{
    white-space: normal;
}

.ui-draggable-dragging{
    background-color: #eff4f9 !important;
    list-style: none;
    opacity: .7;
    margin: 0;
    padding: 0;
}

.ui-draggable-dragging-item{
    padding: .2rem;
    border: 1px solid #418ac7;
    font-size: .9rem;
}

.treeTableHeader{
    display: none;
}

.listTreeTable .sapMTB{
    height: 0;
}

.listTreeTable .sapUiTableTr>td{
    border-right-width: 0px;
}

.listTreeTable .sapMPI{
    min-width: 100%;
    width: 100%;
}

.treeTableDialog .sapMDialogScroll{
    height: 100%;
}

.tableContentPage .sapFDynamicPageContent,
.tableContentPage .sapFDynamicPageContentFitContainer{
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.sapUiTheme-sap_belize .tableContentPage .sapMPageHeader{
    background-color: #eff4f9 !important;
    box-shadow: inset 0 -0.0625rem #d1e0ee !important;
}

.sapUiTheme-sap_belize_plus .tableContentPage .sapMPageHeader{
    background-color: #3f5161 !important;
    box-shadow: inset 0 -0.0625rem #4f667a !important;
}



.assignInfoDialog .sapUiFormTitle{
    display: none;
}

div.worktimeAvailability{
    box-sizing: border-box;
    padding: 0 0.45rem;
    text-align: center;
    border-radius: 1.125rem;
    height: 1.25rem;
    display: inline-block;
    max-width: 100%;
}

div.worktimeAvailability > .workTimeAvailabilityText {
    font-size: 0.75rem;
    vertical-align: top;
    line-height: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.0125rem;
    text-transform: uppercase;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    /*color: #ffffff;*/
}

.workTimeWithBorder{
	border: #ccc 1px solid
}
.workTimeWithoutBorder{
	border:#ccc 1px solid
}

.workTimeTextWhite{
	color:#ffffff;
}

.workTimeTextBlack{
	color:#000000;
}